Makefile.in
Makefile
*.o
*.l[oa]
*_p.h
.deps
.libs
.stamps

aclocal.m4
autom4te.cache/
clutter-gtk/clutter-gtkmm-0.9.pc
clutter-gtk/clutter-gtkmm-config.h
clutter-gtk/clutter-gtkmm/embed.*
clutter-gtk/clutter-gtkmm/viewport.*
clutter-gtk/clutter-gtkmm/wrap_init.cc
clutter-gtk/stamp-h1
config.log
config.status
configure
docs/reference/Doxyfile
docs/reference/html/
examples/events/events
libtool
scripts/config.guess
scripts/config.sub
scripts/install-sh
scripts/ltmain.sh
scripts/missing
tools/extra_defs_gen/generate_extra_defs_clutter_gtk

