.deps/
.dirstamp
.libs/
Makefile
Makefile.in
stamp-h?
*.[ao]
*.l[ao]
/INSTALL
/aclocal.m4
/autom4te.cache/
/config*.lineno
/config.log
/config.status
/configure
/clutter-gtkmm-*.tar.*
/libtool
/codegen/extradefs/generate_extra_defs
/clutter-gtk/clutter-gtkmmconfig.h
/clutter-gtk/clutter-gtkmm*.pc
/clutter-gtk/src/.stamps/
/doc/reference/Doxyfile
/doc/reference/doxygen.log
/doc/reference/clutter-gtkmm-*.devhelp2
/doc/reference/clutter-gtkmm-*.tag
/doc/reference/html/
/examples/events/events
